canvas {
    position: absolute;
    top: 0;
    z-index: -1;
}

.mouse-menu-container {
    cursor:default;
    position: absolute;
}
  

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
    transform: translate(-50%, -50%);
}

.mouse-menu-item {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: black;
    transform: translate(-50%, -50%);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    transition: all 0.5s ease 0s;
}

.mouse-menu-item > p {
    user-select: none;
    color: black;  
}
