.sidebar {
    position: fixed;
    top: 300px;
    left: 10px;
    width: 15%;
    display: flex;
    flex-direction: column;
}

.card {
    margin: 5px 0px;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--accent-color-70);
    text-decoration: none;
    color: white;
    transition: background-color 0.4s;
}

.current {
    background-color: var(--accent-color-50);
}

.captioned-image {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--main-color-20);
    border: 1px solid var(--main-color-50);
    border-radius: 5px;
}

.captioned-image > p {
    font-size: medium;
    padding: 15px;
    width: 20%;
}

.captioned-image > img {
    /* border: solid var(--top-bg-color) 2px; */
    border-radius: 0 5px 5px 0;
    width: 80%;
}

.code-block {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    background-color: var(--main-color-60);
    color: var(--gray-10);
}

.code-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background-color: var(--main-color-80);
    border-bottom: solid var(--main-color-20) 1px;
}

.code-header > p {
    color: var(--gray-10);
    font-weight: 400;
    font-size: medium;
    margin: 0px;
}

.code-header > i {
    cursor: pointer;
}